*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
    color: #fff;
}
header{
    position: fixed;
    width: 100%;
}
.all-bg{
    background-image: url(https://html.dreamitsolution.net/techno-personal/assets/images/banner-image-1.jpg);
    background-position: center;
    background-size: cover;
    padding: 20rem 0;
}
.text{
    color: #fff;
}
.text h1{
    font-size: 65px;
}
.text p{
    font-size: 18px;
}
.nb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.logo img{
    width: 70%;
}
.icons{
    margin-top: 10px;
}
.icons i{
    background-color: #2B2A2A;
    color: #fff;
    padding: 15px;
    border-radius: 7px;
   margin-right:  10px ;
}
.quote{
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 25px;
    border-radius: 3px;
    position: relative;
}
.quote::before{
    transition: .3s;
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: white;

}
.quote:hover{
    color: orange;
}
.quote:hover::before{
    width: 100%;
    left: 0;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.offer{
    background-color: #020312;
    width: 100%;
}
.card{
    background-color: #10131C;
    color: #fff;
    width: 32%; 
    /* margin-top: 10px; */
}
.card i{
    font-size: 50px;
    padding-left: 10px;
    padding-top: 10px;
    color: orange;
}
.card a{
    color: #fff;
    text-decoration: none;
}
.txt{
    text-align: center;
}
.txt h6{
    color: orange;
}
.txt h2{
    color: #fff;
}